body {
  background-image: url(Los\ Angeles4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  color: white;
  width: 1000px;
  align-content: center;
  font-family: Garamond, serif;
}

nav li {
  list-style-type: none;
}

h1 {
  color: gold;
  font-weight: bolder;
  font-family: Helvetica, sans-serif;
}

li {
  color: goldenrod;
  font-weight: bolder;
}

a {
  color: cyan;
}

a:visited {
  color: violet;
}

a:hover {
  color: lime;
}

article {
  border: 2px dotted;
  align-content: right;
  padding: 40px;
  margin: 80px;
}

.Daily {
  font-size: 3em;
  font-weight: bolder;
}

.Bauer {
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: greenyellow;
}
